In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('survey_results_public.csv')
schema_df = pd.read_csv('survey_results_schema.csv')

In [3]:
pd.set_option('display.max_columns', 85)
pd.set_option('display.max_rows', 85)

### Pandas series

Objeto base dos pandas, existem dois objetos principais do pandas:
* Series
* Dataframe

In [6]:
labels = ['a', 'b', 'c']
minhaLista = [10,20,30]
arr = np.array(minhaLista)
dic = {'a': 10, 'b': 30, 'c':40}

### Criando series

In [13]:
pd.Series(data= minhaLista, index=labels)

a    10
b    20
c    30
dtype: int64

In [14]:
pd.Series(dic)

a    10
b    30
c    40
dtype: int64

In [15]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int64

### Operações com series

In [23]:
ser1 = pd.Series([1,2,3,4,5], index=['EUA', 'Alemanha','Brasil','Japão','Itália'])

In [24]:
ser2 = pd.Series([10,20,30,40], index=['EUA', 'Alemanha','Itália','Japão'])

### Podemos criar operações com series
O python procura pelos elementos com mesmo índice e executa a operação

In [25]:
ser1 + ser2

Alemanha    22.0
Brasil       NaN
EUA         11.0
Itália      35.0
Japão       44.0
dtype: float64

O resultado do Brasil deu NaN pois dentro da serie 2 não existe um elemento indexado por Brasil, logo ele recebe um valor NaN, e uma soma de um valor e um NaN é sempre um NaN

# Dataframes

Um dataframe deve possui um index e colunas

In [27]:
np.random.seed(101)

In [29]:
My_df = pd.DataFrame(data = np.random.randn(5,4), index = 'A B C D E'.split(), columns = 'W X Y Z'.split())

In [30]:
My_df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

### Entendendo o formato do nosso data frame

In [16]:
df.shape #64461 rows and 61 columns

(64461, 61)

## Selecting rows and Columns

In [4]:
df.head(3)

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,DatabaseDesireNextYear,DatabaseWorkedWith,DevType,EdLevel,Employment,Ethnicity,Gender,JobFactors,JobSat,JobSeek,LanguageDesireNextYear,LanguageWorkedWith,MiscTechDesireNextYear,MiscTechWorkedWith,NEWCollabToolsDesireNextYear,NEWCollabToolsWorkedWith,NEWDevOps,NEWDevOpsImpt,NEWEdImpt,NEWJobHunt,NEWJobHuntResearch,NEWLearn,NEWOffTopic,NEWOnboardGood,NEWOtherComms,NEWOvertime,NEWPurchaseResearch,NEWPurpleLink,NEWSOSites,NEWStuck,OpSys,OrgSize,PlatformDesireNextYear,PlatformWorkedWith,PurchaseWhat,Sexuality,SOAccount,SOComm,SOPartFreq,SOVisitFreq,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,Microsoft SQL Server,Elasticsearch;Microsoft SQL Server;Oracle,"Developer, desktop or enterprise applications;...","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Independent contractor, freelancer, or self-em...",White or of European descent,Man,"Languages, frameworks, and other technologies ...",Slightly satisfied,I am not interested in new job opportunities,C#;HTML/CSS;JavaScript,C#;HTML/CSS;JavaScript,.NET Core;Xamarin,.NET;.NET Core,Microsoft Teams;Microsoft Azure;Trello,Confluence;Jira;Slack;Microsoft Azure;Trello,No,Somewhat important,Fairly important,NaN,NaN,Once a year,Not sure,NaN,No,Often: 1-2 days per week or more,Start a free trial;Ask developers I know/work ...,Amused,Stack Overflow (public Q&A for anyone who codes),Visit Stack Overflow;Go for a walk or other ph...,Windows,2 to 9 employees,Android;iOS;Kubernetes;Microsoft Azure;Windows,Windows,NaN,Straight / Heterosexual,No,"No, not at all",NaN,Multiple times per day,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,GBP,NaN,NaN,"Developer, full-stack;Developer, mobile","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,NaN,NaN,NaN,Very dissatisfied,I am not interested in new job opportunities,Python;Swift,JavaScript;Swift,React Native;TensorFlow;Unity 3D,React Native,Github;Slack,Confluence;Jira;Github;Gitlab;Slack,NaN,NaN,Fairly important,NaN,NaN,Once a year,Not sure,NaN,No,NaN,NaN,Amused,Stack Overflow (public Q&A for anyone who code...,Visit Stack Overflow;Go for a walk or other ph...,MacOS,"1,000 to 4,999 employees",iOS;Kubernetes;Linux;MacOS,iOS,I have little or no influence,NaN,Yes,"Yes, definitely",Less than once per month or monthly,Multiple times per day,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Objective-C;Python;Swift,Objective-C;Python;Swift,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Once a decade,NaN,NaN,No,NaN,NaN,NaN,Stack Overflow (public Q&A for anyone who codes),NaN,Linux-based,NaN,NaN,NaN,NaN,NaN,Yes,"Yes, somewhat",A few times per month or weekly,Daily or almost daily,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN

#### Para saber os nomes das colunas usamos
df.columns

In [30]:
df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'Age', 'Age1stCode', 'CompFreq',
       'CompTotal', 'ConvertedComp', 'Country', 'CurrencyDesc',
       'CurrencySymbol', 'DatabaseDesireNextYear', 'DatabaseWorkedWith',
       'DevType', 'EdLevel', 'Employment', 'Ethnicity', 'Gender', 'JobFactors',
       'JobSat', 'JobSeek', 'LanguageDesireNextYear', 'LanguageWorkedWith',
       'MiscTechDesireNextYear', 'MiscTechWorkedWith',
       'NEWCollabToolsDesireNextYear', 'NEWCollabToolsWorkedWith', 'NEWDevOps',
       'NEWDevOpsImpt', 'NEWEdImpt', 'NEWJobHunt', 'NEWJobHuntResearch',
       'NEWLearn', 'NEWOffTopic', 'NEWOnboardGood', 'NEWOtherComms',
       'NEWOvertime', 'NEWPurchaseResearch', 'NEWPurpleLink', 'NEWSOSites',
       'NEWStuck', 'OpSys', 'OrgSize', 'PlatformDesireNextYear',
       'PlatformWorkedWith', 'PurchaseWhat', 'Sexuality', 'SOAccount',
       'SOComm', 'SOPartFreq', 'SOVisitFreq', 'SurveyEase', 'SurveyLength',
       'Trans', 'UndergradMajor', 'WebframeDesireNextYear',
       'WebframeWorkedWith', 'WelcomeChange', 'WorkWeekHrs', 'YearsCode',
       'YearsCodePro'],
      dtype='object')

##### Podemos usar df.loc e df.iloc para selecionar dados do nosso dataFrame
df.iloc funciona bem quando queremos acessar dados usando valores inteiros e df.loc quando os dados são acessados por labels
#### iloc = Integer location

In [5]:
df.loc?

In [6]:
df.iloc?

In [7]:
df.loc[:,'MainBranch'] # Selecionando a coluna MainBranch de todas as linhas

0                           I am a developer by profession
1                           I am a developer by profession
2                              I code primarily as a hobby
3                           I am a developer by profession
4        I used to be a developer by profession, but no...
                               ...
64456                                                  NaN
64457                                                  NaN
64458                                                  NaN
64459                                                  NaN
64460                                                  NaN
Name: MainBranch, Length: 64461, dtype: object

In [8]:
df.loc[5:10,'MainBranch'] # Selecionando a coluna MainBranch das linhas de 5 a 10

5     I am a developer by profession
6     I am a developer by profession
7     I am a developer by profession
8     I am a developer by profession
9     I am a developer by profession
10    I am a developer by profession
Name: MainBranch, dtype: object

In [9]:
df.iloc[5:10,[1,2]] # Selecionando as colunas 1 e 2 e as linhas de 5 a 10

                       MainBranch Hobbyist
5  I am a developer by profession       No
6  I am a developer by profession      Yes
7  I am a developer by profession      Yes
8  I am a developer by profession       No
9  I am a developer by profession      Yes

In [10]:
df.loc[5:10, ['MainBranch', 'Hobbyist']] # Selecionando as colunas MainBranch e Hobbyist e as linhas de 5 a 10

                        MainBranch Hobbyist
5   I am a developer by profession       No
6   I am a developer by profession      Yes
7   I am a developer by profession      Yes
8   I am a developer by profession       No
9   I am a developer by profession      Yes
10  I am a developer by profession      Yes

In [27]:
df.loc[5:10, 'Hobbyist':'Country'] # Seleciona as linhas de 5 a 10 de todas as colunas entre hobbyist e country

,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country
5,No,NaN,14,NaN,NaN,NaN,Germany
6,Yes,NaN,18,Monthly,NaN,NaN,India
7,Yes,36.0,12,Yearly,116000.0,116000.0,United States
8,No,30.0,20,NaN,NaN,NaN,Tunisia
9,Yes,22.0,14,Yearly,25000.0,32315.0,United Kingdom
10,Yes,23.0,13,Yearly,31000.0,40070.0,United Kingdom

#### Podemos usar métodos do pandas juntos com as seleções de dados, um exemplo é o value_counts

In [23]:
df.loc[:, 'Hobbyist'].value_counts()

Yes    50388
No     14028
Name: Hobbyist, dtype: int64

## Dataframes indexes

In [39]:
users = {
    'login': ['ans3', 'adrn', 'drikons'],
    'email': ['ans3@cin.ufpe.br', 'adrn@gmail.com', 'drikons@gmail.com'],
    'lastName': ['Santana', 'Nascimento', 'SantaCruz']
}

In [44]:
df = pd.DataFrame(users)

In [45]:
df

     login              email    lastName
0     ans3   ans3@cin.ufpe.br     Santana
1     adrn     adrn@gmail.com  Nascimento
2  drikons  drikons@gmail.com   SantaCruz

In [46]:
df['email']

0     ans3@cin.ufpe.br
1       adrn@gmail.com
2    drikons@gmail.com
Name: email, dtype: object

##### Para setar uma coluna como index, apenas usamos o método .set_index(coluna)

In [47]:
df.set_index('email')

                     login    lastName
email
ans3@cin.ufpe.br      ans3     Santana
adrn@gmail.com        adrn  Nascimento
drikons@gmail.com  drikons   SantaCruz